.pagination {
    width: 100vw;
    height: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 900;

    a {
        width: 28px;
        height: 28px;
        text-decoration: none;
        color: var(--border-dark);
        font-family: var(--mono);
    }

    .active {
        text-decoration: none;
        color: var(--text-dark);
        padding-bottom: 10px;
    }
}
